<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大App验证码发送及查询</title>
</head>
<body>
    <div class="demo">
        <p align="center" style="background-color:rgb(254, 225, 77)">
             <a href="/" target="_top" style="color: black;"> 返回首页</a>
             <a href="/bigApp_ApiList" target="_top" style="color: black;"> 选择接口</a>
        </p>
        <h1>大App验证码发送及查询</h1>
        <hr>
    </div>

    <div id="radioDiv">
        <label>账号类型：</label>
        <label >
            <input type="radio" id="radio1" name="parent_radio" value="telphone" disabled="disabled">手机号</sub>
            <input type="radio" id="radio2" name="parent_radio" value="email" disabled="disabled">邮箱</sub>
        </label>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick="selectRadio('radio1'); telphone() ">手机号</button>
            &nbsp;&nbsp;&nbsp;
            <button onclick="selectRadio('radio2'); email()">邮箱号</button>
        </p>

    </div>

    <form action="" method="post" name="json_text">
        <!--手机地区码-->
       <p id="perTelphone" style="display: none;">手机地区：<input type="text" name="perTelphone" placeholder="手机地区码(如86)"></p>
        <!--手机号-->
        <p id="telphone" style="display: none;">手机号码：<input type="text" name="telphone" placeholder="手机号码"></p>
        <!--邮箱号-->
        <p id="email" style="display: none;">邮箱号码：<input type="text" name="email" placeholder="邮箱号"></p>
        <!--账号类型-->
        <p id="acc_type" style="display: none;"><input id="input_type" type="text" name="acc_type" readonly="readonly"></p>

        <p>请求类型：
            <select id="select_content_type" onchange="goto()" style="width: 320px;">
                <optgroup label="content-type" style="font-weight:bold;">content-type</optgroup>
                <option value="1" >application/json</option>
                <option value="2">application/x-www-form-urlencoded</option>
            </select>
            <input type="text" id="textbox" name="content_type" readonly="readonly" style="width: 320px;" value='{"Content-Type":"application/json;charset=UTF-8"}'>
        </p>
        <p>访问地区：
            <select id="select_gateway_type" name="gatewayt_type">
                <optgroup label="请选择地区" style="font-weight:bold;">gateway-type</optgroup>
                <option value="1" >中国大陆</option>
                <option value="2" >全球</option>
            </select>
        </p>
        <p>功能选择：
            <select id="switch_func" name="func_type">
               <!-- <optgroup label="请选择功能" style="font-weight:bold;">switch-func</optgroup> -->
                 <option value="0" >请选择功能</option>
                <option value="1" >验证码发送</option>
                <option value="2" >验证码查询</option>
            </select>
        </p>

        <span id="radio_reg" style="display: none;" name="sendCode_reg"> 验证码类型：<br>
            <input type="radio" name="sendCode_type" value="0" checked> 注册
        </span>
        <span id="radio_login" style="display: none;" name="sendCode_login">
            <input type="radio" name="sendCode_type" value="1"> 验证码登录
        </span>
        <span id="radio_pwd" style="display: none;" name="sendCode_pwd">
            <input type="radio" name="sendCode_type" value="3"> 找回密码
        </span>
        <br>

        <input type="submit" name="btn_longin" value="发送请求">
    </form>
    </div>

</body>
    <script type="text/javascript">

        //监听点击button事件，并同步选中单选，同时赋值输入框
        function selectRadio(radioId) {
            var target = document.getElementById(radioId);
            target.checked = true;
            console.log(target.value)
            switch(target.value){
                case "telphone":
                    //赋值输入框
                    document.getElementById("input_type").value="acc_phone";
                    document.getElementById("email").value=" ";

                    // console.log(document.getElementById('input_type').value);
                break;

                case "email":
                    //赋值输入框
                    document.getElementById("input_type").value="acc_email";
                    document.getElementById("perTelphone").value="null";
                    document.getElementById("telphone").value="null";

                    // console.log(document.getElementById('input_type').value);
                    break;
            }
        }

        //监听点击的按钮显示或隐藏输入框
        function telphone(){
            document.getElementById("perTelphone").style.display="block";
            document.getElementById("telphone").style.display="block";
            document.getElementById("email").style.display="none";

        }

        //监听点击的按钮显示或隐藏输入框
        function email(){
            document.getElementById("perTelphone").style.display="none";
            document.getElementById("telphone").style.display="none";
            document.getElementById("email").style.display="block";
        }

        function goto(){
		var reslut = document.getElementById("select_content_type").value;
		switch(reslut){
			case "1":
			document.getElementById("textbox").value = '{"Content-Type":"application/json;charset=UTF-8"}';
			break;
			case "2":
			document.getElementById("textbox").value = '{"Content-Type": "application/x-www-form-urlencoded"}';
			break;
			case "0":
			document.getElementById("textbox").value = null;
			break;
		}
	}

    // 监听是否展示发送验证码的选择
    const select = document.querySelector("#switch_func");
    select.addEventListener("change", (e) => {
      showRadios(e.target.value);
    });

    //监听功能下拉框
    function showRadios(value) {
      if(value === "1") {
        document.querySelector("#radio_reg").style.display = "block";
        document.querySelector("#radio_pwd").style.display = "block";
        document.querySelector("#radio_login").style.display = "block";
      }
      if(value === "2") {
        document.querySelector("#radio_reg").style.display = "none";
        document.querySelector("#radio_pwd").style.display = "none";
        document.querySelector("#radio_login").style.display = "none";
      }
    }

    //监听单选选择
    function selectRadio_sendCode(value) {
        const radios = document.querySelectorAll('input[name="sendCode_type"]');
        for (let i=0; i<radios.length; i++) {
            if (radios[i].value === value) {
            radios[i].checked = true;
            }
        }
    }

    </script>




</html>