<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>秒秒测大App</title>
</head>
<body>
	<h1 align="center"> 秒秒测大App </h1>
	<h2 align="center"> 接口测试 </h2>
	<div class="main" align="center">
		<select id="select_api" onchange="goto()">
			<option value="0">请选择测试接口</option>
			<option value="1">获取app基本信息</option>
			<option value="2">*验证码发送&查询*</option>
			<option value="3">登录</option>
			<option value="4">用户反馈</option>
		</select>
		<input type="text" id="textbox" readonly="readonly">
		<button value="" id="btn_api" onclick="jump()">点击前往</button>
	</div>

	<div class="goback">
		<p align="center">
			<a href="/" target="_top"> 返回首页</a>
	</div>
</body>

	<script type="text/javascript">
	function goto(){
		var reslut = document.getElementById("select_api").value;
		switch(reslut){
			case "1":
			document.getElementById("textbox").value = "/api/basic/getBasicInfo/";
			break;
			case "2":
			document.getElementById("textbox").value = "/api/user/get/code/";
			break;
			case "3":
			document.getElementById("textbox").value = "/api/user/login/";
			break;
			case "4":
			document.getElementById("textbox").value = "/api/operation/feedback/";
			break;
			case "0":
			document.getElementById("textbox").value = null;
		}
	}
	function jump(){
		var temp = document.getElementById("textbox").value;
		if(temp=="/api/basic/getBasicInfo/"){
			location = "/bigApp_getBasicInfo/";
		}
		else if(temp=="/api/user/login/"){
			location = "/bigApp_login/";
		}
		else if(temp=="/api/user/get/code/"){
			location = /bigApp_getCode/;
		}
		else if(temp=="/api/operation/feedback/"){
			location = /bigApp_feedBack/;
		}
		else{
			alert("未选择任何接口！")
		}
	}
	</script>
</html>