<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大App获取app基本信息接口</title>
</head>
<body>
    <div class="demo">
        <p align="center" style="background-color:rgb(254, 225, 77)">
             <a href="/" target="_top" style="color: black;"> 返回首页</a>
             <a href="/bigApp_ApiList" target="_top" style="color: black;"> 选择接口</a>
        </p>
        <h1>大App获取app基本信息接口(/api/basic/getBasicInfo/)</h1><hr>
        <p>选择一种入参方式进行接口测试</p>
        <hr>
    </div>    

    <form action="" method="post" name="json_text">
        <p style="font-weight: bold; color:crimson;">方式一：<br></p>
        <p>样例格式：{"language": "0"}</p>
        <p>请求参数：<input  type="text" name="parameter" placeholder="json格式" style="width: 320px;"><br></p>
        <p>用户凭证：<input  type="text" name="token" placeholder="在登录接口获取token" style="width: 320px;"><br></p>
        <p>请求类型：
            <select id="select_content_type" onchange="goto()" style="width: 320px;">
                <optgroup label="content-type" style="font-weight:bold;">content-type</optgroup>
                <option value="1" >application/json</option>
                <option value="2">application/x-www-form-urlencoded</option>
            </select>
            <input type="text" id="textbox" name="content_type" readonly="readonly" style="width: 320px;" value='{"Content-Type":"application/json;charset=UTF-8"}'><br></p>
       <p>访问地区：
            <select id="select_gateway_type" name="gatewayt_type">
                <optgroup label="请选择地区" style="font-weight:bold;">gateway-type</optgroup>
                <option value="1" >中国大陆</option>
                <option value="2" >全球</option>
            </select>
            <br>
       </p>
            <input type="submit" name="btn_longin" value="发送请求">
        </form><hr>
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        <p style="font-weight: bold; color:crimson;">方式二：<br></p>
        <p>上传csv文件：<input type="file" name="file_csv" value="上传csv"><br></p>
        <p>csv文件格式：写入位置：A1、A2、A3...依次往下，每个单元格写入内容为json样例，最少一行</p>
        <p>访问地区：
            <select id="select_gateway_type2" name="gatewayt_type">
                <optgroup label="请选择地区" style="font-weight:bold;">gateway-type</optgroup>
                <option value="1" >中国大陆</option>
                <option value="2" >全球</option>
            </select>
        </p>
        <input type="submit" name="btn_longin" value="发送文件">
    </form>
</body>

    <script type="text/javascript">
	function goto(){
		var reslut = document.getElementById("select_content_type").value;
		switch(reslut){
			case "1":
			document.getElementById("textbox").value = '{"Content-Type":"application/json;charset=UTF-8"}';
			break;
			case "2":
			document.getElementById("textbox").value = '{"Content-Type": "application/x-www-form-urlencoded"}';
			break;
			case "0":
			document.getElementById("textbox").value = null;
			break;
		}
	}
	</script>
</html>