<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>秒秒测医药(海外)</title>
</head>
<body>
	<h1 align="center"> 秒秒测医药(海外) </h1>
	<h2 align="center"> 接口测试 </h2>
	<div class="main" align="center">
		<select id="select_api" onchange="goto()">
			<option value="0">请选择测试接口</option>
			<option value="1">登录接口</option>
			<option value="2">**网关实时数据下载**</option>
			<option value="3">**网关实时数据最新记录查询**</option>
		</select>
		<input type="text" id="textbox" readonly="readonly">
		<button value="" id="btn_api" onclick="jump()">点击前往</button>
	</div>

	<div class="goback">
		<p align="center">
			<a href="/" target="_top"> 返回首页</a>
	</div>
</body>

	<script type="text/javascript">
	function goto(){
		var reslut = document.getElementById("select_api").value;
		switch(reslut){
			case "1":
			document.getElementById("textbox").value = "/iot/account/login/";
			break;
			case "2":
			document.getElementById("textbox").value = "/onetemp/";
			case "3":
			document.getElementById("textbox").value = "/currentonetemp/";
			break;
			case "0":
			document.getElementById("textbox").value = null;
		}
	}
	function jump(){
		var temp = document.getElementById("textbox").value;
		if(temp=="/iot/account/login/"){
			location = "/lilly_login/";
		}
		else if(temp=="/onetemp/"){
			location = "/lilly_getOneTemp/";
		}
		else if(temp=="/currentonetemp/"){
			location = "/lilly_getCurrentOneTemp/";
		}
		else{
			alert("未选择任何接口！")
		}
	}
	</script>
</html>